@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Jost');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  margin: 0;
}

main {
  background-color: $workarea-background-color;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 100px 0;
  min-height: $workarea-min-height;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin:  1.5rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

.text-right {
  text-align: right;
}
