@import 'variables';

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  box-shadow: 0 8px 8px -4px rgb(186, 186, 186);
  color: $font-color-light;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: $header-height;
  min-height: $header-height;
  height: $header-height;

  nav {

      ul {
        display: block;
        text-transform: uppercase;
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0;
      }

      li {
        display: inline;
        margin-right: 2rem;
        padding: 0.5rem 2rem;
        transition: color 0.3s ease;

        &:hover {
          background: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
        }
      }

      a {
        text-decoration: none;
        color: $font-color-light;
        font-weight: bold;
      }

    }
}


@media screen and (max-width: 768px) {

  header {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;

    nav {

      li {
        margin-right: 1rem;
      }

    }
  }
}

@media screen and (max-width: 450px) {

  header {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;

    nav {

      ul {
        display: flex;
        flex-direction: column;
      }

      li {
        margin-right: 0;
      }

    }
  }
}
